<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 container__setup__prices">
        <div class="col-sm-12 col-md-12 col-lg-12 container__setup__prices">
        <div style="line-height:40px">
            How much cost per contact charge? (Advanced)
            <sup>
            <el-popover
                trigger="hover"
                :content="helpContentMap[3].desc"
                placement="top"
                popper-class="tooltip-content"
            >
            <span slot="reference" style="font-size: 12px;"><i class="fa fa-question-circle"></i></span>
            </el-popover>
            </sup>
            <span v-if="errLeadspeekCleanCostperleadAdvanced" style="font-size: 13px; color: #942434; margin-left: 16px;">* Cost per lead advanced must be above 0</span>
            <!-- <sup>
            <span style="cursor: pointer; font-size: 12px;"><i @click="openHelpModal(1)" class="fa fa-question-circle"></i></span>
            </sup> -->
        </div>
        <div>
            <base-input
            label=""
            type="text"
            placeholder="0"
            addon-left-icon="fas fa-dollar-sign"
            class="frmSetCost input__setup__prices campaign-cost-input"    
            v-model="LeadspeekCleanCostperleadAdvanced"
            @keyup="set_fee('clean','LeadspeekCleanCostperleadAdvanced');"
            @blur="handleFormatCurrency('clean','LeadspeekCleanCostperleadAdvanced')"
            @keydown="restrictInput"   
            @copy.prevent @cut.prevent @paste.prevent>
            </base-input>
        </div>
        </div>
    </div>
</div>